name: create-release

on:
  workflow_dispatch:
    inputs:
      version-string:
        type: string
        required: true

jobs:
  create-release:
    uses: KSPModdingLibs/KSPBuildTools/.github/workflows/create-release.yml@main
    with:
      version-string: ${{ inputs.version-string }}
      solution-file-path: KerbalVR_Mod/KerbalVR_Mod.sln
      use-ckan: true
      artifacts: KerbalVR_Mod/GameData 'KerbalVR_Mod/Optional Mods' KerbalVR_Mod/KSP_x64_Data KerbalVR_Mod/vrinstaller.exe KerbalVR_Mod/KerbalVR-Dependencies.ckan README.md
